@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* text input (textarea) */
text-area {
    resize: none;
    margin-top: 50px!important;
}

/* update bulma global variables */

/* override bulma */
#avon-heading {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    font-weight: 400;
    align-content: center;
}

#avon-description {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    font-weight: lighter;
    align-content: center;
}

#url_form {
    margin-top: 25px;
    justify-content: center;
}

#submit_button {
    margin-top: 25px;
    justify-content: center;
}

#given_article_url {
    margin-top: 25px;
    justify-content: center;
}

#navbar_article_input {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
}

#myfooter {
    display: flex;
    position: relative;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
$footer-background-color: white;
@import "bulma-divider.min.css";
@import "bulma.min.css";
@import "bulma-switch.min.css";

/* index */
    /* components */
        /* heading */
        /* description */
        /* article_url form */
        /* direct_text_input form */
        /* footer (contact, feedback, personal website, personal contact email, video demo (demonstration), publications (overview arxiv preprint, github LaTeX paper)) */
/* analysis */
    /* components */
        /* heading */
        /* description */
        /* article_url form */
        /* direct_text_input form */
        /* propaganda_score */
        /* persuasion_technique instances */
